<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">12345678</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pixelhub?sslMode=DISABLED&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">world</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
         <property name="hibernate.hbm2ddl.auto">validate</property>
        
        
        
        <mapping class="models.Capturas"/>
        <mapping class="models.JuegoNuevo"/>
        <mapping class="models.JuegosBiblioteca"/>
        <mapping class="models.Plataformas"/>
        <mapping class="models.Preferencias"/>
        <mapping class="models.Usuario"/>
        
        
    </session-factory>
</hibernate-configuration>
