<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
    <session-factory>
    
    	  <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://root:xtDqfqdGpFIFhvhVqQvMroGAQiIbqsoU@viaduct.proxy.rlwy.net:59483/railway</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">xtDqfqdGpFIFhvhVqQvMroGAQiIbqsoU</property>
    
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        
        <mapping class="models.Capturas"/>
        <mapping class="models.JuegoNuevo"/>
        <mapping class="models.JuegosBiblioteca"/>
        <mapping class="models.Plataformas"/>
        <mapping class="models.Preferencias"/>
        <mapping class="models.Usuario"/>
        
        
    </session-factory>
</hibernate-configuration>
