.vbox-loading {
    -fx-background-color: #212E36;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

.label-loading {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.progress-indicator {
    -fx-progress-color: #0095FF;
}
