@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Tilt+Neon&family=Tilt+Warp&display=swap');

/* Fondo del BorderPane */
.root {
    -fx-background-color: #192229;
}

.btnNavegacion{
	-fx-text-fill: white;
	-fx-font-size: 19;
	-fx-font-family: "Tilt Warp";
	-fx-background-color: "#212E36";
	-fx-border-radius: 12;	
}

#panelLateral{
	-fx-background-color: "#212E36";
	-fx-background-radius: 0 20 20 0;
	-fx-effect: dropshadow(gaussian,#52A5E0 , 9, 0.5, 1, 2);
}


/* Título del formulario */
#lblTitulo {
    -fx-text-fill: #52A5E0;
    -fx-font-size: 60;
    -fx-font-family: "Silkscreen";
    -fx-alignment: center;
}

#textFieldBusqueda{
	-fx-text-fill: #52A5E0;
	-fx-font-family: "Tilt Warp";
	-fx-font-size: 16;
	-fx-background-radius: 5;
}


#lblNombreUsuario{
	-fx-text-fill: white;
	-fx-font-family: "Tilt Warp";
	-fx-font-size: 20;
}

.btn-activo {
    -fx-background-color: #415A6C !important; /* Color de fondo */
    -fx-text-fill: white; /* Color del texto */
}

.btn-activo:hover {
    -fx-background-color: #415A6C !important; /* Asegurar que el hover no lo cambie */
}


/* Estilo del TextField dentro del ComboBox */
.combo-box .text-field {
    -fx-background-color: #2A3B47; /* Fondo del text-field */
    -fx-text-fill: #FFFFFF; /* Color del texto */
    -fx-font-family: "Tilt Warp"; /* Fuente personalizada */
    -fx-font-size: 16; /* Tamaño del texto */
}

/* Estilo general del ComboBox */
.comboBox {
    -fx-background-color: #2A3B47; /* Fondo del ComboBox */
    -fx-text-fill: #FFFFFF; /* Color del texto */
    -fx-font-family: "Tilt Warp"; /* Fuente personalizada */
    -fx-font-size: 16; /* Tamaño del texto */
    -fx-background-radius: 5; /* Bordes redondeados */
}

/* Estilo de la flecha del ComboBox */
.comboBox .arrow {
    -fx-background-color: #FFFFFF; /* Color de la flecha */
    -fx-border-color: transparent; /* Eliminar el borde por defecto */
}

/* Cambiar el fondo de la lista desplegada */
.combo-box .list-view {
    -fx-background-color: #2A3B47; /* Fondo de la lista desplegada */
    -fx-border-color: #2A3B47; /* Color del borde */
}

/* Cambiar el fondo de las celdas de la lista (cuando no se seleccionan) */
.combo-box .list-cell {
    -fx-text-fill: #FFFFFF; /* Color del texto de las celdas */
    -fx-font-family: "Tilt Warp"; /* Fuente personalizada */
    -fx-background-color: #2A3B47; /* Fondo de la celda no seleccionada */
}

/* Estilo cuando el ratón pasa sobre una celda */
.combo-box .list-cell:hover {
    -fx-background-color: #4A6274; /* Fondo cuando el ratón pasa sobre la celda */
}

/* Cambiar el fondo de la celda seleccionada */
.combo-box .list-cell:selected {
    -fx-background-color: #2A3B47; /* Fondo de la celda seleccionada */
    -fx-text-fill: #FFFFFF; /* Color del texto en la celda seleccionada */
}

