@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Tilt+Neon&family=Tilt+Warp&display=swap');

/* Aplica a todos los textos */
Label {
    -fx-font-family: "Tilt Neon";
    -fx-font-size: 20px;
}

TextFlow Text {
	-fx-font-family: "Tilt Neon";
    -fx-font-size: 14px;
}