@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Tilt+Neon&family=Tilt+Warp&display=swap');

/* Estilos para el contenedor principal */
#mainBox {
    -fx-background-color: #212E36;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}

/* Estilos para Label del título del juego */
#gameTitle {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Tilt Neon";
    -fx-font-size: 20.0px;
    -fx-padding: 0 0 0 10.0px;
}

/* Estilos para HBox de plataformas */
#gamePlatforms {
    -fx-pref-height: 0.0;
    -fx-pref-width: 200.0;
    -fx-padding: 0 0 0 10.0px;
}

/* Estilos para el rating del juego */
#gameRating {
    -fx-text-fill: #52A5E0;
    -fx-font-size: 14px;
    -fx-font-family: "Tilt Neon";
    -fx-margin: 0 0 25.0px 10.0px;
}

/* Estilos para el botón de agregar */
#addButton {
    -fx-fit-height: 20.0px;
    -fx-fit-width: 20.0px;
    -fx-margin: 0 10.0px 25.0px 0;
}
